html {
    font-size: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: #336699;
}

body {
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #777777;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

a {
    color:white;
    text-decoration: none;
}

.resume-box {
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #336699;
}

.img-resume-box {
    display: block;
    width: 100%;
}

.header-resume-box {
    font-size: 40px;
    padding: 0;
    margin: 10px 0 0 10px ;
}

.icon-resume-box {
    width: 100%;
    background-color: #555555;
    overflow: auto;
}

.icon-resume-box a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-resume-box a:hover {
    background-color: #336699;
}

.description-resume-box {
    font-size: 20px;
    padding: 0;
    margin: -30px 0 10px 10px;
}

.row {
    display: flex;
}

.row table, th, td {
    border: 1px solid black;
}
  
.column {
    font-size: 20px;
    color: black;
    text-align: center;
    flex: 50%;
    padding: 10px 0;
    padding: 0 40px 40px 20px;
}

.column th {
    color: black;
}

.detail-box img {
    display: block;
    width: 100%;
}

.detail-box h4 {
    font-size: 40px;
}

.detail-box p {
    font-size: 20px;
}